VITE_SUPABASE_URL=https://hqnoohmmxqcwzqeyowtv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhxbm9vaG1teHFjd3pxZXlvd3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyNzI3MDIsImV4cCI6MjA4MDg0ODcwMn0.uL_Tmx6dPCa7DTVij_Kx3twFhOtpEa9f0QCtDIyL2rE
